<style>
 
	#header_title{
		font-family: calibri;
		font-size: 50px;
		color: white;


	}
	#header_title:hover{
		text-decoration: underline;
		color:gray;
		
	}	



	#header_bar{
		 background-image:
    linear-gradient(to bottom, rgba(256, 250, 252, 0.01), black),
    url('wallpaper3.jpg');
   
    background-size: cover;
    color: white;
    padding: 20px;


	}


	.under_head{

	background-image:
    linear-gradient(to bottom,black,rgba(256, 250, 252, 0.01), rgba(256, 250, 252, 0.01),black,black),
    url('wall11.jpg');
    background-size: cover;
   
    
    color: white;
   

	}

	#news{
	background-image:
    linear-gradient(to bottom,black,rgba(256, 250, 252, 0.01), rgba(256, 250, 252, 0.01),black,black),
    url('wall7.jpeg');
    background-size: cover;
  
    color: white;
   
	}


	#newsbar1{

		  position: relative;
  animation-name: animation_newsA;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count:infinite;


	}


	#newsbar2{

		  position: relative;
  animation-name: animation_newsA;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-iteration-count:infinite;


	}

		#newsbar3{

		  position: relative;
  animation-name: animation_newsA;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  animation-iteration-count:infinite;


	}

	@keyframes animation_newsA{
    
 0%{width:0px;}
    50%{width:300px;}
    100%{width:0px;}
}






	#presentation_{
			margin-left: 30px;

	}

	#easel_intro{
	    
       

  position: relative;
  animation-name: animation_tra;
  animation-duration: 4s;
  animation-iteration-count:3;
 
	}

	#easel_intro:hover{

		top:10px;

	}




	#text_slogans{
     position: relative;
     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;

	}

	#text_slogans:hover{

		transform: rotateY(180deg);

	}

	body{
		background-color:white;
		font-family: calibri;

	}

	#ici_link_modules:hover{
			text-decoration: underline;
	}

	.card{
        background-color: #dddddd;
		margin-top: 20px;
		color:black;
		border-radius:0px;

	

	}
	.card-link{
		color:black;
	}
	.card-link:hover{
		color:gray;
	}

	.card:hover{
			background-color: white;

	}

	#icon_module{
      
      height:100px;
      width:300px;

      color: #bbaadd;

     position: relative;
     text-align: center;
     transition: transform 0.5s;
     transform-style: preserve-3d;

	}
	#icon_module:hover{

		transform: rotateY(180deg);
		
	}


	footer{
		background-color: black;
		height:450px;
		font-family: calibri;
	
	}

	footer:hover{
		
	}

	.btn{
		color:gray;
		border-color: #bbaadd;

	}



	#footer_text{
	    font-family: calibri;
		font-size:17px;
		color: #eeeeee;
		color:white;
		position:center;
	}

	.jumbotron{
		background-color: transparent;
		border-radius:0;
		
		margin-bottom: 0;
		

	}

	hr{
	
	
	}




	#logo{
		height: 55px;
		width: 55px;
		margin-right: 5px;
		margin-top:20px;
	}

    #head_menu{
    	position: relative;
    	animation-name: menu_anim;
    	animation-duration: 0.7s;
    }

    @keyframes menu_anim{
    	0%{top:500px;}
    	100%{top:0px;}
    }


	#head_menu:hover{
		color:rgb(255, 98, 0);

	}
	
	#icon_boot{
        color: white;
          position: relative;

      text-align: center;
     transition: transform 0.5s;
     transform-style: preserve-3d;

	}
	#icon_boot:hover{
         transform: rotateY(180deg);
        
	}

	#general_icon:hover{
		color:rgb(254,193,7,255);

	}

	


    
    .head_subs1{


    	  animation-name: anim;
          animation-duration: 1.5s;
          animation-iteration-count: 3;
    }
     .head_subs2{
    	  animation-name: anim;
          animation-duration: 1.5s;
          animation-iteration-count: 3;

          
    }
     .head_subs3{
    	  animation-name: anim;
          animation-duration: 1.5s;
          animation-iteration-count: 3;
         
    }


  @keyframes anim {
  from {color: white;
  }
  to {color: black;
  }
}



.labo{
	 font-family: calibri;
	 font-weight: bold;
	 font-size: 35px ;
	 color: white;
}

.labo:hover{
	 color: white;
}

div{
	font-family: calibri;
}

   #news:hover{
	
}


#cardcompanies{

	background-color: transparent;
	color:white;

}
	




	.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





@keyframes animation_tra {
  0%   {left:0px; top:0px;}
  15%  {left:200px; top:0px; transform: rotate(360deg);}
  40%  {left:0px; top:0px; transform: rotate(0deg);}
  50%  {right:0px; top:0px; transform: rotate(0deg);}
  65%  {right:0px; top:0px; transform: rotate(-0deg);}
  60%  {right:0px; top:0px;}
  75%  {right:200px; top:0px;transform: rotate(-360deg)}
  100% {right:0px; top:0px;}
}






#school_icon{
	animation-name: tra_school;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 1s;
}

#laptop_icon{
	animation-name: tra_laptop;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 1s;
}


@keyframes tra_school{
    
    0%{right:250px;top:250px;}
    50%{right:250px;top:0px;}
    100%{right:0px;top:0px;}
}

@keyframes tra_laptop{
    
 0%{left:250px;top:250px;}
    50%{left:250px;top:0px;}
    100%{left:0px;top:0px;}
}



#threebars_icon{

	animation-name: anim_dilatation;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 2s;
	color: white;
	background-color: white;
	animation-delay: 0.6s;

	width: 200px;
	 height:1px;



}

@keyframes anim_dilatation{
    
    0%{width: 200px; height:1px;}
    50%{width: 750px; height:1px;}
    100%{width: 200px; height:1px; color:black;}
}

#introdef_bar{

	animation-name: anim_dilatationinf;
	animation-iteration-count: infinite;
	position:relative;
	animation-duration: 1s;
	color: white;
	background-color: white;

	width: 200px;
	 height:1px;


}


#introdef_barvideos{

	animation-name: anim_dilatationinf_videos;
	animation-iteration-count: 9;
	position:relative;
	animation-duration: 1.25s;
	color: black;
	margin-left: 15px;
	background-color: black;

	width: 364px;
	 height:2px;


}




@keyframes anim_dilatationinf{
    
    0%{width: 1px; height:1px;}
    50%{width: 700px; height:1px;}
    100%{width: 200px; height:1px; color:black;}
}


@keyframes anim_dilatationinf_videos{
    
    0%{width: 1px; height:2px;}
    50%{width: 364px; height:2px;}
    100%{width: 200px; height:2px; color:black;}
}



.aii{
	
	animation-name: anim_tra;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 0.5s;



}
.as{
	animation-name: anim_traa;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	

}
.ai{
	animation-name: anim_tra;
	animation-iteration-count: 1;
	position:relative;
	animation-duration: 0.5s;
	animation-delay: 1s;

}

@keyframes anim_tra{
    
      0%{top:250px;left:250px;}
      50%{top:0px;left:250px;}
    100%{top:0px;left:0px;}
}

@keyframes anim_traa{

	from{color:white;}
	to{color:transparent;}
    
      0%{top:250px;right:250px;color: white;}
      50%{top:0px;right:250px;color: white;}
      100%{top:0px;right:0px;color: white;}

   


}

.imgcompany{

	transition: transform .2s;

}

.imgcompany:hover{

	transform: scale(1.25);

}










</style>
